# APPS
.env

# DATA
postgres/data/*
postgres/pgadmin/*
redis/data/*
logs/*

# Keep directory structure but ignore contents
!postgres/data/.gitkeep
!postgres/pgadmin/.gitkeep
!redis/data/.gitkeep
!logs/.gitkeep

# python
__pycache__/